body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.centered {
    background-color: #D6DADE;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 20px;
    height: 100%;
    max-width: 600px;
}
  
.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px; /* Change this value to the width you want */
    height: 300px; /* Change this value to the height you want */
    margin: 0 auto;
    
}
  
  .image-container img {
    max-width: 100%;
    max-height: 200px;
    margin-top: 140px;
    /* border-radius: 10px; Add rounded corners */
    border: 1px solid #000000; /* Add a border */
    border-radius: 10px; /* Add rounded corners to the image */
}
  
.main-title {
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.login-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    color: #000;
}
  
.login-btn:hover {
    background-color: #140058;
    color: #fff;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logout-btn a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
}
.logout-btn a:hover{
  background-color: #000;
  color: #fff;
}
  
.links a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 100px;
    background-color: #140058;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}
  
.links a:hover {
    background-color: #4d20e3;
}
 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  input[type="file"]{
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    color: #999;
  }
  /* input[type="text"] {
    text-transform: uppercase;
  } */
  button[type="submit"] {
    background-color: #4097f5;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  button[type="submit"]:hover {
    background-color: #140058;
  }



.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}
.btns a:hover{
background-color: #000;
color: #fff;
}
.nav {
  background-color: #003267;
  height: 60px;
  display: flex;
  justify-content:space-around;
}
.nav a{
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
}
.slideshow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px; /* Change this value to the width you want */
  height: 400px; /* Change this value to the height you want */
  margin: 0 auto;
  
}
.slideshow img {
  max-width: 100%;
  max-height: 300px;
  margin-top: 10px;
  /* border-radius: 10px; Add rounded corners */
  border: 1px solid #00087a; /* Add a border */
  border-radius: 10px; /* Add rounded corners to the image */
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.vid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px; /* Change this value to the width you want */
  height: 400px; /* Change this value to the height you want */
  margin: 0 auto;
  
}
h3 .home-heading {
  font-size: 32px;
  color: #1E90FF;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #1E90FF;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
 /* for table */
 table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #22049c;
}
#logoo{
  height: 42px;
  width: 80px;
  margin-top: 8px;
}

#clicked{
  display: inline-block;
  /* padding: 10px 20px; */
  /* margin: 0 10px; */
  /* margin-top: 100px; */
  
  text-decoration: underline white 2px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
}
.nav a:hover{
  font-size: 19px;
}


select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  /* padding: 0.5em 3.5em 0.5em 1em; */
  width: 270px;
  padding: 8px;
  margin-bottom: 20px;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.image-container a{
  text-decoration: none;
  color: #000;
}

#sportss{
  height: 125px;
  width: 125px;
  padding: 25px;

}
#slink{
  text-decoration: none;
  color: #000;
  display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
  
}

#slink:hover {
  background-color: #4d20e3;
}

#sp{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 25px;
}


/* flip css */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  margin-left: 60px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img{
  max-height: 200px;
  max-width: 300px;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

